<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>TravelMate - Register</title>
</head>
<body>
 	<header>
		<ul class="nav">
 			<li><a href="/contact">Contact <i class="fas fa-address-book"></i></a></li>
 			<li><a href="/login">Inloggen <i class="fas fa-user-circle"></i></a></li>
 			<li><a href="/register">Registreren <i class="far fa-user-circle"></i></a></li>
 			<li><a href="/index">Home <i class="fas fa-home"></i></a></li>
			<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
 		</ul>
	</header>
	<div class="container">
		{% for errorMessage in errorMessages %}
		<div class="error-box box">
			<h3 class="error-box-title"><i class="fas fa-exclamation-triangle"></i>Error!</h3>
			{{errorMessage}}
		</div>
		{% endfor %}
		{% for successMessage in successMessages %}
		<div class="success-box box">
			<h3 class="success-box-title"><i class="fas fa-check-circle"></i>Success!</h3>
			{{successMessage}}
		</div>
        {% endfor %}

		<h1>Registreer</h1>
		<form method="POST" onsubmit="return checkForm('register')" action="/api/user/register">
			<label>Voornaam:</label><input {% if "firstName" in problems %}class="input-problem"{% endif %} type="text" name="firstName" placeholder="Johnny" value="{{ persist.firstName }}">
			<label>Naam:</label><input {% if "lastName" in problems %}class="input-problem"{% endif %} type="text" name="lastName" placeholder="Appleseed" value="{{ persist.lastName }}">
			<label>Email:</label><input {% if "email" in problems %}class="input-problem"{% endif %} type="text" name="email" placeholder="someone@example.com" value="{{ persist.email }}">
			<label>Wachtwoord:</label><input {% if "password" in problems %}class="input-problem"{% endif %} id="input-password" type="password" name="password" placeholder="secret">
			<label>Wachtwoord bevestigen:</label><input {% if "passwordCheck" in problems %}class="input-problem"{% endif %} id="input-password-check" type="password" name="passwordCheck" placeholder="type the same">
			<label>Geboortedatum:</label><input {% if "dateOfBirth" in problems %}class="input-problem"{% endif %} type="date" name="dateOfBirth" value="{{ persist.dateOfBirth }}">			
			<input type="submit" value="Registreer">
		</form>
	</div>

	<img id="page-loading-indicator" src="/img/loading.svg" disabled="false">
	<div id="screen-fader" disabled="false"></div>
	<script src="/js/travelmate-base.js"></script>
</body>
</html>
<!-- 
<svg>
	<path fill="#333" d="M4.4 4.4l.8.8c2.1-2.1 5.5-2.1 7.6 0l.8-.8c-2.5-2.5-6.7-2.5-9.2 0z"></path>
	<path opacity=".1" d="M12.8 12.9c-2.1 2.1-5.5 2.1-7.6 0-2.1-2.1-2.1-5.5 0-7.7l-.8-.8c-2.5 2.5-2.5 6.7 0 9.2s6.6 2.5 9.2 0 2.5-6.6 0-9.2l-.8.8c2.2 2.1 2.2 5.6 0 7.7z"></path>
</svg>

 -->